<h1>Editing cotizacion dll</h1>

<%= render "form", cotizacion_dll: @cotizacion_dll %>

<br>

<div>
  <%= link_to "Show this cotizacion dll", @cotizacion_dll %> |
  <%= link_to "Back to cotizacion dlls", cotizacion_dlls_path %>
</div>
