<h1>Editing cotizacion mn</h1>

<%= render "form", cotizacion_mn: @cotizacion_mn %>

<br>

<div>
  <%= link_to "Show this cotizacion mn", @cotizacion_mn %> |
  <%= link_to "Back to cotizacion mns", cotizacion_mns_path %>
</div>
