<p style="color: green"><%= notice %></p>

<h1>Cotizacion mns</h1>

<div id="cotizacion_mns">
  <% @cotizacion_mns.each do |cotizacion_mn| %>
    <%= render cotizacion_mn %>
    <p>
      <%= link_to "Show this cotizacion mn", user_cotizacion_mn %>
    </p>
  <% end %>
</div>

<%= link_to "New cotizacion mn", new_user_cotizacion_mn_path %>
